*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.card-container{
    height: 100vh;
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
    padding: 50px 20px;
    position: relative; /* ubica un elemento con respecto a su posición normal en el flujo del documento, sin sacarlo de él*/
}
.card-hero{
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    overflow: hidden; /* El contenido desbordado se recorta y no se muestra, eliminando cualquier parte que exceda los límites del elemento. */
    position: relative;/* Asegura que .card-hero__background se posicione respecto a .card-hero */
}
.card-hero__image{
    background-color: antiquewhite;
    height: 70%;
}
.card-hero__image img{
    width: 100%; /* La imagen ocupa todo el ancho de .card-hero__image */
    height: 100%; /* La imagen ocupa toda la altura de .card-hero__image */
    object-fit: cover; /* Cubre el área, recortando si es necesario, sin distorsión */
    object-position: center; /* Centra la imagen */
    display: block; /* Elimina espacio inferior */
    display: inline;
}
.card-hero__background{
    background-image: linear-gradient(-20deg , #bb7413, #e7d25c);
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
}
.card-hero__info{
    position: relative; /* Asegura que el contenido esté en un nivel superior */
    z-index: 2; /* Igual o mayor que .card-hero__image */
    padding: 20px; /* Espaciado para el contenido */
    color: #333; /* Color del texto para visibilidad */
    margin-top: -140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    height: auto;
    color: white;
    font-size: 20px;
}
.card-hero__info-logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;    
}
.card-hero__img-logo{
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
}
.card-hero__info-description{
    font-weight: 900;
    bottom: 26%;
    margin-left: -100px;
    margin-top: 50px;
}
.card-hero__info-date{
    margin-left: 25px;
}
.card-hero__button{
    margin-top: -15px;
    padding: 15px 5px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    border: 1px solid;
}
